//////////// IMPORT \\\\\\\\\\\\

@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');

//////////// FAUX SELECTORS \\\\\\\\\\\\

%img {
    display: block;
    margin: auto;
    width: 500px;
}

//////////// VARIABLES \\\\\\\\\\\\

$primarycolor: #1E7318;
$primarycolordark : #0e5818;
$primarycolorbright : #209940;

//////////// SCSS GENERAL \\\\\\\\\\\\

body {

    font-family: 'Cabin', sans-serif;
    background-image: url('../pic/bg1.png'), url('../pic/bg2.png');
    background-repeat: no-repeat;
    background-size: cover;
}

/************************ HEADER ************************/

/* MENU PRINCIPAL */

.Menu {
    background: linear-gradient(to bottom, $primarycolorbright, $primarycolordark);
    color: #FFF;
    height: 50px;
    padding-left: 25px;
    border-radius: 28px;
    position: fixed;
    width: 97%;
    z-index: 99;

    ul {
        width: 100%;
    }

    li {
        float: left;
        display: inline;
        position: relative;

        a:hover {
            color: #fcc100;
            background: #FFF;
            border-radius: 3px;
        }

        &:hover ul.sub-menus {
            display: block
        }
    }

    ul,
    li {
        margin: 0 auto;
        padding: 0;
        list-style: none
    }

    a {

        display: block;
        line-height: 50px;
        padding: 0 20px;
        text-decoration: none;
        color: #FFF;
        font-size: 25px;
        font-family: 'Mouse Memoirs', sans-serif;
        letter-spacing: 1px;
    }

    a.dropdown-arrow:after {
        margin-left: 50px;
    }

    input {
        display: none;
        margin: 0;
        padding: 0;
        height: 50px;
        width: 100%;
        opacity: 0;
        cursor: pointer;
    }

    ul.sub-menus {
        height: auto;
        overflow: hidden;
        width: 220px;
        background: $primarycolor;
        position: absolute;
        z-index: 99;
        display: none;
        border-radius: 3px;

        li {
            display: block;
            width: 100%;
        }

        a {
            color: #FFF;
            font-size: 20px;

            &:hover {
                background: #FFF;
                color: $primarycolor
            }
        }
    }

    .NavRight {
        position: absolute;
        left: 1150px;
        width: 50%;

        img {
            width: 25px;
            position: relative;
            top: 7px;
        }
    }
}

.Logo img {
    @extend %img;
    padding-top: 100px;
}

h1 {
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
    font-family: 'Patrick Hand', cursive;
    letter-spacing: 0.5px;
    padding-top: 10px;

    span {
        color: $primarycolor;
    }
}

h2 {

    padding-top: 15px;
    text-decoration: underline;
    text-indent: 15px;

}

.Presentation {
    margin-left: 80px;
    margin-right: 80px;
    text-align: justify;
    line-height: 30px;
    font-size: 20px;
}

.historique {
    @extend .Presentation;

    #historique1 {

        padding-top: 70px;
        margin-top: 0;
    }

    #historique2 {
        padding-top: 15px;

    }

    p {
        @extend .Presentation;
    }

    p:last-child {

        padding-bottom: 30px;
    }

    #histo1 {
        float: right;
        padding-left: 50px;
        margin-bottom: 15px;
        margin-right: 80px;
        width: 300px;
    }

    p #histo2 {
        float: left;
        width: 250px;
        margin-bottom: 15px;
        margin-right: 50px;
    }

    p #histo3 {
        float: right;
        width: 250px;
        margin-left: 50px;
    }

    ol li {
        margin-top: 10px;
        margin-left: 80px;
        margin-right: 25px;
    }
}

.Img img {
    @extend %img;
    padding-top: 30px;

}

.Centre {
    text-align: center;
    padding-top: 15px;
}

.GreenBtn {
    box-shadow: inset 0px 1px 3px 0px $primarycolorbright;
    background: linear-gradient(to bottom, $primarycolorbright 5%, $primarycolordark 100%);
    background-color: $primarycolor;
    border-radius: 5px;
    border: 1px solid $primarycolordark;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    padding: 11px 23px;
    text-decoration: none;
    text-shadow: 0px -1px 0px $primarycolordark;
    text-align: center;
    margin: auto;

    &:hover {
        background: linear-gradient(to bottom, $primarycolordark 5%, $primarycolorbright 100%);
        background-color: $primarycolordark;
    }

    &:active {
        position: relative;
        top: 1px;
    }
}

#paysage1 {

    -webkit-border-radius: 50px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius: 50px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-radius: 50px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    opacity: 0.9;
    width: 700px;
    height: 200px;

    &:hover {
        opacity: 0.7;
    }

}

.act-list {

    @extend .Presentation;
    list-style-image: url("../pic/Icon/list-style.png");

    a {
        text-decoration: underline;
        line-height: 25px;
        color: $primarycolordark;
    }
}

.Actus {
    @extend .Presentation;
    margin: 0 auto;
    width: 100%;
}

// FOOTER

footer {
    display: flex;
    justify-content: center;
    background: linear-gradient(#e5f1d7, #b5bbbea6);
    color: $primarycolor;
}

hr {

    height: 2px;
    border: 0;
    background: linear-gradient(#d3d7db, #b5bbbea6);
    box-shadow: 10px 10px 10px -10px #c7cdd3 inset;
    margin: 0 auto;
}


.tftable {
    font-size: 18px;
    color: #000000;
    width: 75%;
    border: none;

    th {
        font-size: 17px;
        width: 33%;
        text-align: center;
        border: none;
        border-radius: 10px 10px 0 0;
        color: $primarycolor;

        img {
            padding-top: 20px;
            padding-bottom: 4px;
            width: 35px;
        }
    }

    tr {
        width: 33%;
        border: none;
        width: 500px;
    }

    td {
        font-size: 15px;
        padding: 0;
        width: 33%;
        border: none;
        text-align: center;
        border-radius: 0 0 10px 10px;
        line-height: 20px;

        img {
            display: inline;
            margin: 2px 5px;

            &:nth-child(5) {

                margin-bottom: 25px;
                margin-left: 20px;
            }

            &:nth-child(6) {

                margin-bottom: 20px;
            }
        }

    }

    tfoot tr td {
        font-size: 13px;
    }
}

/* RESPONSIVE */

@media screen and (max-width: 800px) {
    #menu {
        position: relative;

        li {
            display: block;
            float: none;
            width: auto;
        }

        ul {
            background: $primarycolor;
            position: absolute;
            top: 100%;
            right: 0;
            left: 0;
            z-index: 3;
            height: auto;
            display: none;
            border: 1px solid;
            border-radius: 7px;
        }

        input {
            position: absolute;
            top: 0;
            left: 0;
            display: block
        }

        input {
            z-index: 4
        }

        input:checked~ul {
            display: block
        }

        ul.sub-menus {
            width: 100%;
            position: static;

            a {
                padding-left: 30px;
            }
        }
    }
}