
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Patrick+Hand&display=swap');

body {

font-family: 'Cabin', sans-serif;
background-image: url("/pic/bg2.png");
background-repeat: no-repeat;
background-size: cover;
background-color:rgba(0, 0, 0, 0.2);


}

h1 {
    text-align: center;
    font-size: 150%;
    padding-bottom: 20px;
    font-family: 'Patrick Hand', cursive;
}

h1 span {
    color:#1E7318;

}

.logo1 {
    padding-top: 30px;
    padding-bottom: 15px;
}

.presentation {
    margin-left: 80px;
    margin-right: 80px;
    text-decoration: none;
    text-align: justify;
    /* margin-left: 50px; */
}

.Centre{
    text-align: center;
    padding-top: 15px;
}

.GreenButton {
	box-shadow:inset 0px 1px 3px 0px #209940;
	background:linear-gradient(to bottom, #64BF62 5%, #1E7318 100%);
	background-color:#10722a;
	border-radius:5px;
	border:1px solid #11691c;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2f6627;
    text-align: center;
    margin: auto;
}
.GreenButton:hover {
	background:linear-gradient(to bottom, #10722a 5%, #209940 100%);
	background-color:#10722a;
}
.GreenButton:active {
	position:relative;
	top:1px;
}

#paysage1 {

/* border: 2px solid #10722a ; */
-webkit-border-radius: 50px;
-webkit-border-top-right-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius: 50px;
-moz-border-radius-topright: 10px;
-moz-border-radius-bottomleft: 10px;
border-radius: 50px;
border-top-right-radius: 10px;
border-bottom-left-radius: 10px;
opacity: 0.9;

}

.act-list {

line-height: 25px;
}

.act-list a {

text-decoration: underline;
color: #0c4613;
}